<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/creategame" method="post" class="mb-5">
        <input class="border-2 p-1 rounded-md m-1 text-black text-l" type="text" name="name" placeholder="Enter Game Name">
        <input class="border-2 p-1 rounded-md m-1 text-black text-l" type="text" name="img" placeholder="Enter Img URL">
        <textarea name="content" rows="10" id=""
        class="resize-none  bg-zinc-600 border-2 border-zinc-200 text-white placeholder-white p-4 rounded-md"
        placeholder="What is in your head ...?"></textarea>
        <input class="createbttn cursor-pointer m-1 block text-white text-l bg-red-700 rounded-md p-1.5 block mb-4" type="submit" value="Create User">
    </form>
</body>
</html>

