<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createpost" method="post">
        <input type="text" name="heading" placeholder="heading of discussion">
        <textarea name="content" id="content" placeholder="write content"></textarea>
        <select name="gamename" id="gamename">
            <% gamelist.forEach(function(game){%>
                <option value="<%=game.name%>"><%=game.name%></option>
            <%})%>
        </select>
        <input type="submit" value="submit">
    </form>
</body>
</html>