<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers' Social Hub Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

        .font-custom {
            font-family: 'New Amsterdam', cursive;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>

<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-6">
        <!-- Welcome Banner -->
        <div class="bg-gray-800 p-8 rounded-lg text-left mb-8">
            <div class="flex items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXBL7vESZ-p6ExmZ7xvSkBOLzRuC54n-OF8w&s" alt="Profile Picture" class="w-16 h-16 rounded-full mr-4">
                <h1 class="text-2xl">Welcome <%= user.name %></h1>
            </div>
        </div>
        <!-- Sidebar -->
    <aside class="w-64 bg-gray-800 bg-opacity-70 text-white p-4 shadow-lg transform transition duration-300 hover:shadow-2xl hover:bg-black rounded-lg fixed top-100 left-4 h-auto max-h-[calc(100vh-2rem)] overflow-y-auto z-10">
        <div class="text-3xl font-custom mb-4">Sidebar</div>
        <nav>
            <ul>
                <%gamer.forEach(function(games){%>
                    <li class="mb-4">
                        <p><%=games.name%></p>
                    </li>
                    <%})%>
            </ul>
        </nav>
    </aside>        
        </div>
        </div>
    </div>
    </div>
</body>